.glassCard {
  position: relative;
  border-radius: 1rem;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border: 1px solid hsla(141, 84%, 93%, 0.3);
  padding: 2rem;
}

.glassCardTripTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: light-dark(hsl(148, 98%, 20%), hsl(141, 84%, 93%));
}

.glassCardTripInfo {
  color: hsl(142, 76%, 36%);
}

.onGoingTripStatus {
  padding: 0.25rem 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(infinity * 1px);
  font-size: 0.875rem;
  background: rgba(220, 252, 231, 0.2);
  color: hsl(142, 72%, 29%);
}

.onGoingTripDotContainer {
  position: relative;
  margin-right: 0.5rem;
}

.onGoingTripDotPulse {
  position: absolute;
  animation: onGoingTripPulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 50%;
  top: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  left: -0.25rem;
  background: linear-gradient(
    to right,
    rgba(74, 222, 128, 0.6),
    rgba(22, 163, 74, 0.6)
  );
  filter: blur(2px);
}

@keyframes onGoingTripPulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.onGoingTripDot {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: hsl(145, 100%, 25%);
}

.tripParticipantsFaceCard {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-size: cover;
  border: 2px solid hsl(0, 0%, 96%);
}

.tripParticipants {
  font-size: 0.875rem;
  color: hsl(142, 74%, 24%);
}

@media (prefers-color-scheme: dark) {
  .glassCard {
    border: 1px solid hsla(145, 73%, 19%, 0.3);
  }

  .glassCardTripInfo {
    color: hsl(142, 27%, 49%);
  }

  .onGoingTripStatus {
    background: rgba(20, 83, 45, 0.5);
    color: hsl(142, 77%, 73%);
  }

  .onGoingTripDot {
    background-color: hsl(143, 81%, 71%);
  }

  .tripParticipantsFaceCard {
    border: 1px solid hsl(145, 73%, 19%);
  }

  .tripParticipants {
    color: hsl(143, 81%, 71%);
  }
}
